@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">hospital mamament</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">he doktor randevu</a>.</p>
</div>
